body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto';
    font-size: 1.2rem;
    margin: 0;
    background: #f3f3f3;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
}

#app {
  overflow: auto;
  flex: 1;
}

#toast {
  position: absolute;
  z-index: 50;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,.5);
  border: 2px solid white;
  border-radius: 4px;
  color: green;
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  padding: 16px;
}

.rounds {
  padding: 16px;
  font-size: 2rem;
}

.circle {
  height: 560px;
  width: auto;
}
.circle .green {
  fill:#61C0BF;
}

.error {
  color: red;
  fill: red;
}

.question {
  font-size: 3rem;
  text-align: center;
}
.question input {
  font-size: 3rem !important;
  width: 9rem;
}

.fill-flex-column {
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.state-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tagline {
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 3rem;
}

.button.state {
  font-size: 2rem;
}

.button {
  background: #3498db;
  min-width: 180px;
  padding: 4px 8px;
  border-radius: 5px;
}

.button p {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    user-select: none;
  }

.button:hover {
    cursor: pointer;
}


footer {
    /* height: 40px; */
    width: 100%;
    background-color: rgba(255, 255, 255);
    z-index: 100;
    color: rgba(17, 17, 17);
    text-align: center;
    font-weight: bold;
}

footer.dark {
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
}

footer div {
  margin: 16px;
}

footer a {
  text-decoration: none !important;
  color: grey;
  font-style: italic;
}

footer a:hover {
    opacity: .4;
}
